.top-container{
    background-color: azure;
    height: 690x;
    width: 100%;
    border: 10px;
    padding: 20px;
}
.middle-container{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    
}
.bottom-container{
    background-color: brown;
    height: 200px;
    width: 200px;
}
body{
    margin: 0;
}
h1{
    margin: 0%;
}

