.top-container{
    background-color: azure;
    height: 540px;
    width: 100%;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    
}
.bottom-container{
    background-color: brown;
    height: 200px;
    width: 200px;
}
body{
    margin: 0;
    text-align: center;
    font-family: fantasy;
}
h1{
    margin: 0%;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.mountain-image{
    
    position: relative;
    top: 90px;
}